*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  padding: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  background: linear-gradient(to top left, #83a4d4, #b6fbff);
  height: 100vh;
}
Header{
  padding: 16px;
}

